Task no 1

In [1]:
prices = [1200, 850, 4300, 2999, 1500, 850]

print("Total products:", len(prices))

total = 0
for p in prices:
    total = total + p

average = total / len(prices)
print("Average price:", average)

above_2000 = []
for p in prices:
    if p > 2000:
        above_2000.append(p)

print("Above 2000:", above_2000)

prices.sort(reverse=True)
print("Descending order:", prices)

Total products: 6
Average price: 1949.8333333333333
Above 2000: [4300, 2999]
Descending order: [4300, 2999, 1500, 1200, 850, 850]

Task no 2

In [2]:
locations = [
    (24.8607, 67.0011),
    (31.5204, 74.3587),
    (33.6844, 73.0479)
]

for loc in locations:
    print(loc)

latitudes = []
for loc in locations:
    latitudes.append(loc[0])

print("Latitudes:", latitudes)

try:
    locations[0][0] = 25.0000
except:
    print("Tuple cannot be changed")

print("Total coordinate pairs:", len(locations))

(24.8607, 67.0011)
(31.5204, 74.3587)
(33.6844, 73.0479)
Latitudes: [24.8607, 31.5204, 33.6844]
Tuple cannot be changed
Total coordinate pairs: 3

Task no 3

In [3]:
python_students = {"Ali", "Sara", "Ahmed", "Zain"}
ml_students = {"Sara", "Hassan", "Ali", "Fatima"}

both = python_students.intersection(ml_students)
print("Both courses:", both)

only_python = python_students.difference(ml_students)
print("Only Python:", only_python)

all_students = python_students.union(ml_students)
print("All students:", all_students)

ml_students.add("Usman")
print("Updated ML students:", ml_students)

Both courses: {'Sara', 'Ali'}
Only Python: {'Ahmed', 'Zain'}
All students: {'Ali', 'Sara', 'Hassan', 'Fatima', 'Ahmed', 'Zain'}
Updated ML students: {'Usman', 'Ali', 'Sara', 'Hassan', 'Fatima'}

Task no 4

In [4]:
employees = {
    "E01": {"name": "Ali", "salary": 60000},
    "E02": {"name": "Sara", "salary": 75000},
    "E03": {"name": "Ahmed", "salary": 50000}
}

print("Employee IDs:")
for key in employees:
    print(key)

total_salary = 0
for key in employees:
    total_salary = total_salary + employees[key]["salary"]

print("Total payroll:", total_salary)

print("Salary above 60000:")
for key in employees:
    if employees[key]["salary"] > 60000:
        print(employees[key]["name"])

employees["E04"] = {"name": "Zain", "salary": 68000}

print("Updated records:", employees)

Employee IDs:
E01
E02
E03
Total payroll: 185000
Salary above 60000:
Sara
Updated records: {'E01': {'name': 'Ali', 'salary': 60000}, 'E02': {'name': 'Sara', 'salary': 75000}, 'E03': {'name': 'Ahmed', 'salary': 50000}, 'E04': {'name': 'Zain', 'salary': 68000}}

TASK NO5

In [5]:
sales_data = {
    "electronics": [
        ("Laptop", 120000, 3),
        ("Mouse", 1500, 10)
    ],
    "clothing": [
        ("Shirt", 2500, 5),
        ("Shoes", 5000, 2)
    ]
}

revenue = {}
all_products = set()

for category in sales_data:
    total = 0
    for item in sales_data[category]:
        name = item[0]
        price = item[1]
        qty = item[2]
        total = total + (price * qty)
        all_products.add(name)
    revenue[category] = total

print("Revenue by category:", revenue)
print("All unique products:", all_products)

print("Sales Report")
for category in revenue:
    print(category, ":", revenue[category])

Revenue by category: {'electronics': 375000, 'clothing': 22500}
All unique products: {'Shoes', 'Mouse', 'Shirt', 'Laptop'}
Sales Report
electronics : 375000
clothing : 22500